<!DOCTYPE html>
<html>
	<head>
	
		<title>Test-Driven Development</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- configuration parameters -->
		<meta name="defaultView" content="slideshow" />
		<meta name="controlVis" content="hidden" />
		
		<!-- favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
		
		<!-- stylesheet links -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
		<link href="https://static1.squarespace.com/static/ta/5594f9fce4b0c1a905697ba1/579/assets/fonts/calluna/stylesheet.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/ui/default/slides.css" type="text/css" media="projection" id="slideProj" />
		<link rel="stylesheet" href="/ui/default/outline.css" type="text/css" media="screen" id="outlineStyle" />
		<link rel="stylesheet" href="/ui/default/print.css" type="text/css" media="print" id="slidePrint" />
		<link rel="stylesheet" href="/ui/default/opera.css" type="text/css" media="projection" id="operaFix" />
				
		<!-- S5 JS -->
		<script src="/ui/default/slides.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div class="layout">
			<div id="controls"></div>
			<div id="currentSlide"></div>
			<div id="header"></div>
			<div id="footer">
				<h1>Test-Driven Development</h1>
				<h2>Cov Testers, 22nd June 2016</h2>
			</div>
		</div>
		
		<div class="presentation">
		
			<div class="slide">
				<h1>Test-Driven Development</h1>
				<h2>Cov Testers, 22nd June 2016</h2>
				<h3>Ruth Mills (Twitter: @ruthmills)</h3>
				<h4>Java Lead Developer, Connect Group</h4>
			</div>
			
			<div class="slide">
				<h1>A bit about me</h1>
				<ul>
					<li>Lead Developer at Connect Group in Birmingham</li>
					<li>Specialising in Java-based web development</li>
					<li>Working on projects for Jaguar Land Rover</li>
					<li>Living in Shrewsbury with my wife Sonia</li>
					<li>Transgender woman</li>
					<li>Doctor Who and Star Wars fan</li>
					<li>Massive Raspberry Pi geek</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Why TDD?</h1>
				<ul>
					<li>Encourages simple designs and <a href="http://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882" target="_blank">Clean Code</a></li>
					<li>Makes you think about what you are about to code before you do it</li>
					<li>Ensures that you test error conditions as well as the "happy path"</li>
					<li>Reduces bugs in the code and improves code quality</li>
					<li>Reduces risk when <a href="https://en.wikipedia.org/wiki/Code_refactoring" target="_blank">refactoring</a> and making changes</li>
					<li>Works in tandem with <a href="https://en.wikipedia.org/wiki/Behavior-driven_development" target="_blank">Behaviour-Driven Development (BDD)</a></li>
					<li>Catches most issues at build time, before the code has a chance to go live</li>
				</ul>
			</div>
				
			<div class="slide">
				<h1>The TDD Process</h1>
				<ul>
					<li>Add a test (but not the actual code)</li>
					<li>Run all tests and make sure the new test fails <b><i style="color: #FF0000;">(Red Bar)</i></b></li>
					<li>Write some code to pass the new test</li>
					<li>Run all tests and make sure all tests now pass <b><i style="color: #00C000;">(Green Bar)</i></b></li>
					<li>Refactor the code (using <a href="http://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882" target="_blank">Clean Code</a> principles)</li>
					<li>Run all tests again and make sure all tests still pass <b><i style="color: #00C000;">(Green Bar)</i></b></li>
					<li>Repeat</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Writing Tests</h1>
				<ul>
					<li>Test method names should be self-explanatory, e.g. shouldDoSomething_whenSomeConditionIsMet</li>
					<li>If using BDD, you can use tools such as <a href="https://cucumber.io/" target="_blank">Cucumber</a> or <a href="http://www.fitnesse.org/" target="_blank">FitNesse</a> to generate test names from the BDD acceptance criteria</li>
					<li>Each test should be as simple as possible, ideally testing only one condition</li>
					<li>Each test should therefore have only one assertion</li>
					<li>e.g. <i>assertThat(actualValue, equalTo(expectedValue));</i>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Example JUnit Test</h1>
				<ul>
					<li>JUnit is a popular Java framework for unit testing</li>
					<li>A typical JUnit test consists of setting up the class to test (and any dependencies), executing a method on the class, and checking for an
					expected result (or checking that an exception is thrown, if applicable), e.g.</li>
					<li><i>@Test<br/>
						public void shouldDoSomething_whenSomeConditionIsMet() {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;MyClass classToTest = setupClassToTest();<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;String result = classToTest.doSomething();<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;assertThat(result, equalTo("expected result"));<br/>
						}</i>
					</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Hamcrest Matchers</h1>
				<ul>
					<li><a href="http://hamcrest.org/" target="_blank">Hamcrest</a> is a great library for writing test assertions</li>
					<li>With Hamcrest, assertions are written declaratively, not procedurally</li>
					<li>This makes assertions easier to read and understand</li>
					<li>Easy to write logical conditions, e.g. and, or and not</li>
					<li>Easy to iterate over collections, e.g. lists and sets</li>
					<li>Error messages displayed when a test fails are also easier to read</li>
					<li>Hamcrest is available for Java, Python, Ruby, Objective-C, PHP, Erlang and Swift</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Hamcrest Examples</h1>
				<ul>
					<li>Test that something is equal to an expected value - <i>equalTo(expectedValue)</i></li>
					<li>Test that something is not equal to an expected value - <i>not(equalTo(expectedValue()))</i></li>
					<li>Test that something has a null value - <i>nullValue()</i></li>
					<li>Test that something has a non-null value - <i>notNullValue()</i></li>
					<li>Test that a collection has an expected size - <i>hasSize(expectedSize)</i></li>
					<li>Test that all elements in a collection are not null - <i>everyItem(notNullValue())</i></li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>DEMO - Fizz Buzz in Java</h1>
				<ul>
					<li>Fizz Buzz is a simple division game.</li>
					<li>If a number is divisible by 3, return "Fizz".</li>
					<li>If a number is divisible by 5, return "Buzz".</li>
					<li>If a number is divisible by both 3 and 5, return "Fizz Buzz".</li>
					<li>Otherwise, return the number.</li>
					<li>We're going to code Fizz Buzz using TDD with JUnit and Hamcrest.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Using Mocks</h1>
				<ul>
					<li>TDD should be <b><i>unit</i></b> testing, not <b><i>integration</i></b> testing</li>
					<li>Use mocking instead of relying on external dependencies, e.g. databases</li>
					<li>Create mocked classes which can be used in place of actual dependency</li>
					<li>Use a mock to define what the dependency would do if called, e.g. return some data or throw an exception</li>
					<li>Test all scenarios that your code should handle, including errors</li>
					<li>Tests should run standalone, e.g. not needing a database connection</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Mockito</h1>
				<ul>
					<li><a href="http://mockito.org/" target="_blank">Mockito</a> is a mocking framework for Java (there's also <a href="http://jsmockito.org/" target="_blank">JsMockito</a> for JS)</li>
					<li>Mocks are very easy to create - e.g. <i>MyClass myMock = mock(MyClass.class);</i></li>
					<li>Once you have a mock, you can then tell it how to behave when you call methods on it</li>
					<li>e.g. <i>when(myMock.doSomething()).thenReturn(someObject);</i></li>
					<li>or: <i>when(myMock.doSomething()).thenThrow(someException);</i></li>
					<li>When writing your tests, inject the mock into the object you are testing instead of the real dependency</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>DEMO - TDD with Mockito</h1>
				<ul>
					<li>A simple demo of how to use Mockito to mock a web service.</li>
					<li>If we can't call the web service, a NotFoundException is thrown. We need to catch this exception and return a suitable error message.</li>
					<li>If we are successful, we get a list of Star Wars films, that we need to return as a single comma-separated string.</li>
					<li>We are only interested in how our code handles the exception and the list of Star Wars films.</li>
					<li>We don't care about the underlying workings of the web service itself, as we aren't testing that.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Refactoring Tests</h1>
				<ul>
					<li>Refactoring is a good idea for tests as well as for the code you are testing</li>
					<li>Test suites should also benefit from <a href="http://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882" target="_blank">Clean Code</a> and <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself" target="_blank">DRY (Don't Repeat Yourself)</a></li>
					<li>If more than one test depends on the same setup criteria, refactor this into a separate method instead of copy and pasting</li>
					<li>Setup code common to <b><i>all</i></b> tests should go in a dedicated setup method, e.g. in JUnit, this would be annotated with @Before</li>
					<li>Expected values are best extracted out as constants rather than hard-coded within each test method</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>HTML Data Bindings</h1>
				<ul>
					<li>Some HTML templating engines support a TDD approach for binding data from your view objects to your HTML</li>
					<li>e.g. <a href="http://www.thymeleaf.org/" target="_blank">Thymeleaf</a> has a <a href="http://connect-group.github.io/thymeleaf-tdd/" target="_blank">TDD framework</a> that can be used for testing Thymeleaf and <a href="http://connect-group.github.io/thymesheet/" target="_blank">Thymesheet</a> data bindings</li>
					<li><i>@Test<br/>
					public void shouldOutputCarMake_WhenCarMakeIsSet() {<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;model.put("carMake", "Jaguar");<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;HtmlElements tags = selectorEngine.process(HTML_PATH, model);<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;assertThat(tags.matching("h2"), isSingleElementThat(hasOnlyText("Jaguar")));<br/>
					}</i>
					</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Thymeleaf Matchers</h1>
				<ul>
					<li><i>exists</i> - checks if an element exists (does not matter if once or more than once)</li>
					<li><i>hasAttribute</i> - checks if an element has a particular attribute</li>
					<li><i>hasChildren</i> - checks if an element has child elements</li>
					<li><i>hasOnlyText</i> - checks if an element contains only text (so no child elements as well)</li>
					<li><i>isSingleElementThat</i> - checks if an element only occurs once, and matches a Hamcrest matcher nested inside it</li>
					<li><i>occursOnce</i> - checks if an element only occurs once</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>DEMO - TDD with Thymeleaf</h1>
				<ul>
					<li>A simple demo of the TDD process in Thymeleaf.</li>
					<li>We have an HTML page with a placeholder image and a Star Wars quote.</li>
					<li>Using TDD, we want to replace the placeholder image and quote with actual data from the server.</li>
					<li>We can view the example page <a href="/thymeleaf-example.html" target="_blank">here</a></li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Front-End JS Testing</h1>
				<ul>
					<li>It's also possible to do TDD for front-end Javascript, e.g. using frameworks such as <a href="https://mochajs.org/" target="_blank">Mocha</a>, where a typical Mocha test might be:</li>
					<li><i>describe('Array', function() {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;describe('#indexOf()', function() {<br/>
    					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;it('should return -1 when the value is not present', function() {<br/>
      					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[1,2,3].indexOf(5).should.equal(-1);<br/>
      					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[1,2,3].indexOf(0).should.equal(-1);<br/>
    					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br/>
  						&nbsp;&nbsp;&nbsp;&nbsp;});<br/>
						});</i></li>
					<li>There's also a version of Mockito called <a href="http://jsmockito.org/" target="_blank">JsMockito</a> for use with JS</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>DEMO - Mocha and Chai</h1>
				<ul>
					<li>There is a demo of Fizz Buzz in Mocha and Chai <a href="/mocha-chai-example.html" target="_blank">here</a>.</li>
					<li>Quick recap:</li>
					<li>If a number is divisible by 3, return "Fizz".</li>
					<li>If a number is divisible by 5, return "Buzz".</li>
					<li>If a number is divisible by both 3 and 5, return "Fizz Buzz".</li>
					<li>Otherwise, return the number.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Code Coverage</h1>
				<ul>
					<li>Tools are available that check you have tested all your code</li>
					<li>e.g. <a href="http://cobertura.github.io/cobertura/" target="_blank">Cobertura</a> and <a href="http://emma.sourceforge.net/" target="_blank">Emma</a></li>
					<li>Ideally you should have 100% test coverage if possible</li>
					<li>All classes, methods, lines and conditionals should be covered</li>
					<li>Code coverage should ideally run as part of your Continuous Integration (CI) build, e.g. Jenkins, Hudson or Travis</li>
					<li>You can configure your CI server to fail a build if the code coverage falls below a set percentage</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>DEMO - Jenkins CI</h1>
				<ul>
					<li>I have a Jenkins CI server set up <a href="http://jenkins.ruthmills.me.uk/job/TDD/" target="_blank">here.</a></li>
					<li>The Jenkins server currently has the code examples <b>before</b> the work done tonight.</li>
					<li>Running the tests will cause the build to fail, as shown.</li>
					<li>You can also see the code coverage, using the Cobertura plugin.</li>
					<li>But if I commit the latest code to GitHub, and re-run the tests, then they should now pass.</li>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Further Resources</h1>
				<ul>
					<li>TDD presentation on GitHub - <a href="https://github.com/ruth-connect/tdd-demo" target="_blank">https://github.com/ruth-connect/tdd-demo</a></li>
					<li>JUnit - <a href="http://junit.org/" target="_blank">http://junit.org/</a></li>
					<li>Cucumber - <a href="https://cucumber.io/" target="_blank">https://cucumber.io/</a></li>
					<li>FitNesse - <a href="http://www.fitnesse.org/" target="_blank">http://www.fitnesse.org/</a></li>
					<li>Hamcrest - <a href="http://hamcrest.org/" target="_blank">http://hamcrest.org/</a></li>
					<li>Mockito - <a href="http://mockito.org/" target="_blank">http://mockito.org/</a></li>
					<li>JsMockito - <a href="http://jsmockito.org/" target="_blank">http://jsmockito.org/</a>
				</ul>
			</div>
			
			<div class="slide">
				<h1>Further Resources</h1>
				<ul>
					<li>Cobertura - <a href="http://cobertura.github.io/cobertura/" target="_blank">http://cobertura.github.io/cobertura/</a></li>
					<li>Emma - <a href="http://emma.sourceforge.net/" target="_blank">http://emma.sourceforge.net/</a></li>
					<li>Agile Staffordshire Thymeleaf workshop - <a href="https://github.com/agilestaffordshire/thymeleaf-and-thymesheet" target="_blank">https://github.com/agilestaffordshire/thymeleaf-and-thymesheet</a>
					<li>Thymeleaf TDD - <a href="http://connect-group.github.io/thymeleaf-tdd/" target="_blank">http://connect-group.github.io/thymeleaf-tdd/</a>
					<li>Thymesheet - <a href="http://connect-group.github.io/thymesheet/" target="_blank">https://github.com/connect-group/thymesheet</a></li>
					<li>Mocha - <a href="https://mochajs.org/" target="_blank">https://mochajs.org/</a></li>
				</ul>
			</div>

		</div>
	</body>
</html>
